@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #dcebfd;
  --mid-color: #969c71;
  --dark-color: #0d2a39;
}

body {
  background-color: var(--dark-color);
}

.lg-color {
  color: var(--light-color);
}
.md-color {
  color: var(--mid-color);
}
.dk-color {
  color: var(--dark-color);
}
.bglg-color {
  background-color: var(--light-color);
}
.bgmd-color {
  background-color: var(--mid-color);
}
.bgdk-color {
  background-color: var(--dark-color);
}
.bdlg-color {
  border: 1px solid var(--light-color);
}
.bdmd-color {
  border: 1px solid var(--mid-color);
}
.bddk-color {
  border: 1px solid var(--dark-color);
}
